<h1>Ｍaps</h1>

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1><%= @trip.name%></h1>
    <div>
      <%= image_tag @trip.image, width: '240px' if @trip.image? %>
    </div>
    <% @trip.sites.each do |site|%>
      <div><%= site.name %></div>
      <div>
        <%= image_tag site.photo, width: '120px' if site.photo? %>
      </div>
    <%end%>

    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 24.98367, lng: 121.453586},
          zoom: 10
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA&callback=initMap"
    async defer></script>
  </body>
</html>